<!DOCTYPE html>
<html lang="pl">
<head>
	<title>E-wybory - wybory przez Internet</title>
	<meta charset="utf-8" />

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	
	<link rel="shortcut icon" type="image/png" href="/images/favicon.ico" />
	
	{% block header %}{% endblock %}
	
</head>
<body>
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper container">
				{% load static %}
				<a href="{% url 'home' %}"><img class="img-responsive" alt="baner" src="{{STATIC_URL}}/images/baner.png" style="height:45px; vertical-align: middle;" /></a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="{% url 'home' %}">Strona główna</a></li>
					<li><a href="{% url 'create_election' %}">Stwórz wybory</a></li>
					<li><a class='dropdown-trigger'data-target="dropdown1">Zobacz wyniki</a></li>
						<ul id="dropdown1" class="dropdown-content">
							{% for election in pre_elections %}
							<li><a href="{% url 'election_results' election.id %}" class="secondary-content">{{ election.name }}</a></li>
							{% endfor %}
						</ul>
				</ul>
			</div>
		</nav>
	</div>

	{% if messages %}
		{% for message in messages %}
		<div class="container">
			<div class="card {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}red lighten-1 {% endif %}
			{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}green accent-4 {% endif %}">
				<div class="card-content">
					<p>{{ message }}</p>
				</div>
			</div>
		</div>
		{% endfor %}
	{% endif %}

	<div class="container" style="margin-bottom: 130px">
	{% block content %}{% endblock %}
	</div>

	<footer style="padding: 20px 0px; position: fixed; bottom: 0; left: 0; right: 0; z-index: 999; background-color: #ee6e73">
		<div class="center">
			<div class="container white-text">© 2020, E-wybory. All rights reserved.</div>
		</div>
	</footer>

	<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$('.dropdown-trigger').dropdown({
				coverTrigger: false
			});
		});
	</script>
	
	{% block javascripts %}
	{% endblock %}
	
</body>
</html>
