{% extends "./base.html" %}
{% block header %}
{{ block.super }}

<script src="https://www.google.com/recaptcha/api.js" async defer></script>

{% endblock %}
{% block content %}

<section class="center">
	<h3>Stwórz wybory</h3>
</section>

<section>
	<h5>Szczegóły wyborów</h5>
	
	<form action="{% url 'create_election' %}" method="POST">
		{% csrf_token %}
		
		<div class="input-field">
			<!-- <input id="name" type="text" name="name" class="validate" required /> -->
			{{ form.name }}
			<label for="{{ form.name.id_for_label }}">Nazwa wyborów</label>
			<span class="helper-text red-text">{{ form.name.errors }}</span>
		</div>
		
		<div class="input-field">
			<p>
			  <label>
				<input type="checkbox" class="filled-in" name="hidden" id="hidden"/>
				<span data-toggle="tooltip" data-placement="right" title="Wybory ukryte nie są widoczne na stronie głównej">Wybory ukryte</span>
			  </label>
			</p>
			<span class="helper-text red-text">{{ form.hidden.errors }}</span>
		</div>
		
		<div class="row">
			<div class="input-field col s6">
				<input id="start_date" type="text" name="start_date" class="datepicker" value="{{ form.start_date.value|default_if_none:'' }}" required>
				<label for="start_date">Początek wyborów</label>
				<span class="helper-text red-text">{{ form.start_date.errors }}</span>
			</div>
			<div class="input-field col s6">
				<input id="start_time" type="text" name="start_time" class="timepicker" value="{{ form.start_time.value|default_if_none:'' }}" required>
				<label for="start_time">Godzina startu wyborów</label>
				<span class="helper-text red-text">{{ form.start_time.errors }}</span>
			</div>
		</div>
		
		<div class="row">
			<div class="input-field col s6">
				<input id="end_date" type="text" name="end_date" class="datepicker" value="{{ form.end_date.value|default_if_none:'' }}" required>
				<label for="end_date">Koniec wyborów</label>
				<span class="helper-text red-text">{{ form.end_date.errors }}</span>
			</div>
			<div class="input-field col s6">
				<input id="end_time" type="text" name="end_time" class="timepicker" value="{{ form.end_time.value|default_if_none:'' }}" required>
				<label for="end_time">Godzina zakończenia wyborów</label>
				<span class="helper-text red-text">{{ form.end_time.errors }}</span>
			</div>
		</div>
		
		<div class="input-field">
			<input id="{{ form.max_votes_from_one.id_for_label  }}" type="number" name="max_votes_from_one" class="validate" value="{{ form.max_votes_from_one.value|default_if_none:1 }}" min="1" >
			{{ form.max_votes_from_one.label_tag }}
			<span class="helper-text red-text">{{ form.max_votes_from_one.errors }}</span>
		</div>
		
		<div class="input-field">
			<textarea id="description" class="materialize-textarea" data-length="3000" name="description">{{ form.description.value|default_if_none:'' }}</textarea>
			<label for="description">Opis</label>
			<span class="helper-text red-text">{{ form.description.errors }}</span>
		</div>
		
		<div class="input-field">
			<input id="email" type="email" name="email" class="validate" value="{{ form.email.value|default_if_none:'' }}" required>
			<label for="email">Email twórcy wyborów</label>
			<span class="helper-text red-text">{{ form.email.errors }}</span>
		</div>
		
		<div class="input-field">
			{{ form.captcha }}
			<span class="helper-text red-text">{{ form.captcha.errors }}</span>
		</div>
	
		<button class="btn waves-effect waves-light btn-large" type="submit" name="submit" value="1">Stwórz
			<i class="material-icons right">send</i>
		</button>
	</form>
	
</section>

{% endblock %}

{% block javascripts %}
{{ block.super }}

<script type="text/javascript">
	jQuery(document).ready(function($) {
		$('textarea#description').characterCounter();
		
		$('.datepicker').datepicker({
			firstDay: true,
			format: 'dd.mm.yyyy',
			i18n: {
				months: ["Styczeń", "Luty", "Marzec", "Kwiecień", "Maj", "Czerwiec", "Lipiec", "Sierpień", "Wrzesień", "Październik", "Listopad", "Grudzień"],
				monthsShort: ["styczeń", "luty", "marzec", "kwiecień", "maj", "czerwiec", "lipiec", "sierpień", "wrzesień", "październik", "listopad", "grudzień"],
				weekdays: ["niedziela","poniedziałek", "wtorek", "środa", "czwartek", "piątek", "sobota"],
				weekdaysShort: ["niedziela","poniedziałek", "wtorek", "środa", "czwartek", "piątek", "sobota"],
				weekdaysAbbrev: ["N","Pn", "Wt", "Śr", "Cz", "Pt", "S"],
				cancel:'Anuluj',
				done:'Gotowe'
			}
		});
		
		$('.timepicker').timepicker({
			defaultTime: 'now',
			twelveHour: false,
			i18n: {
				cancel:'Anuluj',
				done:'Gotowe'
			}
		});
	});
</script>

{% endblock %}
