{% extends "./base.html" %}

{% block content %}

<section class="center">
	<h2>{{ election.name }}</h2>
</section>

<section>
	{{ election.description }}
</section>

<section>
	<h4>Lista kandydatów</h4>
	(Kliknij, aby zobaczyć więcej informacji)
	
	
	<ul class="collapsible">
		{% for c in candidates.all %}
		<li class="collection-item">
			<div class="collapsible-header">{{ c.firstname }} {{ c.lastname }}</div>
			<div class="collapsible-body">
				{% if c.photo %}
				<div style="float: left; width: 175px">
					<img class="circle responsive-img" alt="photo" src="{{ c.photo.url }}" style="width:150px;" />
				</div>
				{% endif %}
				<span>{{ c.description }}</span>
				<div style="clear:both;"></div>
			</div>
		</li>
		{% endfor %}
	</ul>
	
	{% if open %}
	<a href="{% url 'vote' election.id %}" class="btn waves-effect waves-light" type="submit" name="action">Zagłosuj
		<i class="material-icons right">send</i>
	</a>
	{% endif %}
	
	
</section>

{% endblock %}

{% block javascripts %}
{{ block.super }}

<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function() {
	var elems = document.querySelectorAll('.collapsible');
	var instances = M.Collapsible.init(elems, {});
});
</script>

{% endblock %}
