{% extends "./base.html" %}

{% block header %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
{% endblock %}

{% block content %}

<section class="center">
	<h2>{{ election.name }}</h2>
</section>

<section>
	<h4>Wyniki</h4>
	
	<canvas id="myChart" width="400" height="200" style="margin-bottom: 80px;"></canvas>
	
	<div class="collection">
		{% for r in results %}
		<a href="#!" class="collection-item"><span class="badge">{{ r.percent }}%</span>
		{% if max != 0 and r.percent == max %}<span class="new badge" data-badge-caption="Zwycięzca"></span>{% endif %}
		{{ r.firstname }} {{ r.lastname }}</a>
		{% endfor %}
	</div>
	
	Oddanych głosów: {{ num_votes }}
	
</section>

{% endblock %}

{% block javascripts %}
{{ block.super }}

<!--Chart js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>

<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function() {
	var elems = document.querySelectorAll('.collapsible');
	var instances = M.Collapsible.init(elems, {});
	
	<!--sortowanie danych rosnąco-->
	arrayLabel = [{% for r in results %}'{{ r.firstname }} {{ r.lastname }}',{% endfor %}]

	arrayData = [{% for r in results %}'{{ r.percent }}',{% endfor %}]

	arrayOfObj = arrayLabel.map(function(d, i) {
		return {
		label: d,
		data: parseFloat(arrayData[i]) || 0
		};
	});

	sortedArrayOfObj = arrayOfObj.sort(function(a, b) {
		return b.data - a.data;
	});

	newArrayLabel = [];
	newArrayData = [];
	sortedArrayOfObj.forEach(function(d){
	newArrayLabel.push(d.label);
		newArrayData.push(d.data);
	});

	console.log(newArrayLabel);
	console.log(newArrayData);
	
	<!--Chart js-->
	var ctx = document.getElementById('myChart').getContext('2d');
	var myChart = new Chart(ctx, {
		type: 'bar',
		data: {
			labels: newArrayLabel,
			datasets: [{
			label: 'Procent głosów',
			data: newArrayData,
			backgroundColor: [
				'rgba(3, 169, 244, 0.6)',
                'rgba(216, 27, 96, 0.6)',
                'rgba(255, 152, 0, 0.6)',
                'rgba(51, 204, 51, 0.6)',
                'rgba(156, 39, 176, 0.6)',
                'rgba(0, 51, 204, 0.6)'
            ],
            borderColor: [
				'rgba(3, 169, 244, 1)',
                'rgba(216, 27, 96, 1)',
                'rgba(255, 152, 0, 1)',
                'rgba(51, 204, 51, 1)',
                'rgba(156, 39, 176, 1)',
                'rgba(0, 51, 204, 1)'
            ],
            borderWidth: 1
			}]
		},
		options: {
			scales: {
				yAxes: [{
					ticks: {
						callback: (value, index, values) => {
							return value + '%';
						},
						beginAtZero: true
					}
				}]
			},
			animation: {
				duration: 4000
			},
			legend: {
				display: false
			},
		}
	});
});
</script>

{% endblock %}
