{% extends "./base.html" %}

{% block content %}

<section class="center">
	<h3>Podaj kod dostępu</h3>
</section>

<section class="center">
	<form action="" method="POST">
		{% csrf_token %}
		
		<div class="input-field">
			<input id="code" type="password" name="code" required>
			<label for="code">Kod dostępu</label>
			<span class="helper-text red-text">{{ form.code.errors }}</span>
		</div>
	
		<button class="btn waves-effect waves-light btn-large" type="submit" name="enter" value="1">Zaloguj się
			<i class="material-icons right">send</i>
		</button>
	</form>
	
</section>

{% endblock %}
