{% extends "./base.html" %}

{% block content %}
<section>
	<h3>Trwające wybory</h3>
	
	<ul class="collection with-header">
		{% for election in act_elections.all %}
		<li class="collection-item"><div>{{ election.name }} <a href="{% url 'election' election.id %}" class="secondary-content"><i class="material-icons">send</i></a></div></li>
		{% endfor %}
	</ul>
</section>

<section>
	<h3>Nadchodzące wybory</h3>

		<ul class="collection with-header">
		{% for election in fol_elections.all %}
		<li class="collection-item"><div>{{ election.name }} <a href="{% url 'election' election.id %}" class="secondary-content"><i class="material-icons">send</i></a></div></li>
		{% endfor %}
	</ul>
</section>

<section>
	<h3>Zakończone wybory</h3>

		<ul class="collection with-header">
		{% for election in pre_elections.all %}
		<li class="collection-item"><div>{{ election.name }} <a href="{% url 'election_results' election.id %}" class="secondary-content"><i class="material-icons">send</i></a></div></li>
		{% endfor %}
	</ul>
</section>

{% endblock %}
