{% extends "./base.html" %}
{% block header %}
{{ block.super }}

<script src="https://www.google.com/recaptcha/api.js" async defer></script>

{% endblock %}
{% block content %}

<section class="center">
	<h3>Zarządzanie wyborami</h3>
</section>

<section>
	<div class="row">
		<div class="col s12 m6">
			
			<h5>Edytuj szczegóły wyborów</h5><br>
	
			<form action="" method="POST">
				{% csrf_token %}
				
				<div class="input-field">
					<input id="{{ form.name.id_for_label  }}" type="text" name="name" class="validate" value="{{ election.name }}" required />
					{{ form.name.label_tag }}
					<span class="helper-text red-text">{{ form.name.errors }}</span>
				</div>
				
				<div class="input-field">
					<p>
					  <label>
						<input type="checkbox" class="filled-in" name="hidden" id="hidden"/>
						<span data-toggle="tooltip" data-placement="right" title="Wybory ukryte nie są widoczne na stronie głównej" value="{{ election.hidden }}">Wybory ukryte</span>
					  </label>
					</p>
					<span class="helper-text red-text">{{ form.hidden.errors }}</span>
				</div>
				
				<div class="row">
					<div class="input-field col s6">
						<input id="start_date" type="text" name="start_date" class="datepicker" value="{{ election.start_date|date:'d.m.Y' }}" required>
						<label for="start_date">Początek wyborów</label>
						<span class="helper-text red-text">{{ form.start_date.errors }}</span>
					</div>
					<div class="input-field col s6">
						<input id="start_time" type="text" name="start_time" class="timepicker" value="{{ election.start_date|date:'H:i' }}" required>
						<label for="start_time">Godzina startu wyborów</label>
						<span class="helper-text red-text">{{ form.start_time.errors }}</span>
					</div>
				</div>
				
				<div class="row">
					<div class="input-field col s6">
						<input id="end_date" type="text" name="end_date" class="datepicker" value="{{ election.end_date|date:'d.m.Y' }}" required>
						<label for="end_date">Koniec wyborów</label>
						<span class="helper-text red-text">{{ form.end_date.errors }}</span>
					</div>
					<div class="input-field col s6">
						<input id="end_time" type="text" name="end_time" class="timepicker" value="{{ election.end_date|date:'H:i' }}" required>
						<label for="end_time">Godzina zakończenia wyborów</label>
						<span class="helper-text red-text">{{ form.end_time.errors }}</span>
					</div>
				</div>
				
				<div class="input-field">
					<input id="{{ form.max_votes_from_one.id_for_label  }}" type="number" name="max_votes_from_one" class="validate" value="{{ election.max_votes_from_one|default_if_none:1 }}" min="1" >
					{{ form.max_votes_from_one.label_tag }}
					<span class="helper-text red-text">{{ form.max_votes_from_one.errors }}</span>
				</div>
				
				<div class="input-field">
					<textarea id="description" class="materialize-textarea" data-length="3000" name="description" >{{ election.description }}</textarea>
					<label for="description">Opis</label>
					<span class="helper-text red-text">{{ form.description.errors }}</span>
				</div>
				
				<div class="input-field">
					<input id="email2" type="email" name="email2" class="validate" value="{{ election.admin_email|default_if_none:'' }}" disabled>
					<label for="email">Email twórcy wyborów</label>
					<span class="helper-text red-text">{{ form.email.errors }}</span>
				</div>
			
				<div class="input-field">
					<input id="access_code" type="text" name="access_code" class="validate" value="{{ election.access_code|default_if_none:'' }}" disabled>
					<label for="access_code">Kod dostępu dla wyborców</label>
				</div>
			
				<button class="btn waves-effect waves-light btn-large" type="submit" name="submit" value="1">Zmień
					<i class="material-icons right">send</i>
				</button>
			</form>
			
		</div>
		
		<div class="col s12 m6">
		
			<h5>Zarządzaj kandydatami</h5>
			
			<ul class="collapsible">
				{% for c in candidates.all %}
				<li class="collection-item">
					<div class="collapsible-header">
						<form>
						<a href="#" onclick="confirmDelete('Czy na pewno chcesz usunąć kandydata - {{ c.firstname }} {{ c.lastname }}?', '{% url 'manage_election_delete_candidate' id=election.id candidate=c.id %}');" class="secondary-content"><i class="material-icons">remove_circle</i></a>
						</form>
						{{ c.firstname }} {{ c.lastname }}
					</div>
					<div class="collapsible-body">
						{% if c.photo %}
						<div style="float: left; width: 100px">
							<img class="circle responsive-img" alt="photo" src="{{ c.photo.url }}" style="width:75px;" />
						</div>
						{% endif %}
						<span>{{ c.description }}</span>
						<div style="clear:both;"></div>
					</div>
				</li>
				{% endfor %}
			</ul>
		
			<br />
		
			<h5>Dodaj nowego kandydata</h5>
		
			<form action="" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				
				<div class="input-field">
					{{ add_candidate_form.firstname }}
					<label for="{{ add_candidate_form.firstname.id_for_label }}">Imię</label>
					<span class="helper-text red-text">{{ add_candidate_form.firstname.errors }}</span>
				</div>
				
				<div class="input-field">
					{{ add_candidate_form.lastname }}
					<label for="{{ add_candidate_form.lastname.id_for_label }}">Nazwisko</label>
					<span class="helper-text red-text">{{ add_candidate_form.lastname.errors }}</span>
				</div>
				
				<div class="input-field">
					<textarea id="description" class="materialize-textarea" data-length="3000" name="description" >{{ add_candidate_form.description.value|default_if_none:'' }}</textarea>
					<label for="description">Opis</label>
					<span class="helper-text red-text">{{ add_candidate_form.description.errors }}</span>
				</div>
				
				<div class="input-field">
					Zdjęcie
					{{ add_candidate_form.photo }}
					<span class="helper-text red-text">{{ add_candidate_form.photo.errors }}</span>
				</div>
			
				<button class="btn waves-effect waves-light btn-large" type="submit" name="submit" value="add_candidate">Dodaj kandydata
					<i class="material-icons right">send</i>
				</button>
			</form>
			
		</div>
	</div>
	
	<div class="row">
		<div class="col s12">
		
			<h5>Lista uprawionych do głosowania</h5>
			<p>Pusta lista oznacza, że każdy kto posiada kod dostępu może oddać głos.</p>
			
			<table class="text-left highlight">
				<tbody>
					{% for v in voters.all %}
					<tr>
						<td>{{ v.firstname }}</td>
						<td>{{ v.lastname }}</td>
						<td>{{ v.email }}</td>
						<td>{{ v.pesel }}</td>
						<td>
							<a href="#" onclick="confirmDelete('Czy na pewno chcesz usunąć osobę - {{ v.firstname }} {{ v.lastname }}?', '{% url 'manage_election_delete_voter' id=election.id voter=v.id %}');" class="secondary-content"><i class="material-icons">remove_circle</i></a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		
			<br />
		
			<form action="" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="row">
					<div class="input-field col s3">
						{{ add_voter_form.firstname }}
						<label for="{{ add_voter_form.firstname.id_for_label }}">Imię</label>
						<span class="helper-text red-text">{{ add_voter_form.firstname.errors }}</span>
					</div>
					
					<div class="input-field col s3">
						{{ add_voter_form.lastname }}
						<label for="{{ add_voter_form.lastname.id_for_label }}">Nazwisko</label>
						<span class="helper-text red-text">{{ add_voter_form.lastname.errors }}</span>
					</div>
					
					<div class="input-field col s3">
						{{ add_voter_form.email }}
						<label for="{{ add_voter_form.email.id_for_label }}">E-mail</label>
						<span class="helper-text red-text">{{ add_voter_form.email.errors }}</span>
					</div>
					
					<div class="input-field col s3">
						{{ add_voter_form.pesel }}
						<label for="{{ add_voter_form.pesel.id_for_label }}">PESEL</label>
						<span class="helper-text red-text">{{ add_voter_form.pesel.errors }}</span>
					</div>
				</div>
				
				<button class="btn waves-effect waves-light" type="submit" name="submit" value="add_voter">Dodaj osobę uprawnioną
					<i class="material-icons right">send</i>
				</button>
				
			</form>
			
		</div>
	</div>
	
</section>

{% endblock %}

{% block javascripts %}
{{ block.super }}

<script type="text/javascript">
	
	function confirmDelete(txt, url)
	{
		if(confirm(txt)) {
			location.href = url;
		}
	}

	jQuery(document).ready(function($) {
		$('textarea#description').characterCounter();
		
		$('.datepicker').datepicker({
			firstDay: true,
			format: 'dd.mm.yyyy',
			i18n: {
				months: ["Styczeń", "Luty", "Marzec", "Kwiecień", "Maj", "Czerwiec", "Lipiec", "Sierpień", "Wrzesień", "Październik", "Listopad", "Grudzień"],
				monthsShort: ["styczeń", "luty", "marzec", "kwiecień", "maj", "czerwiec", "lipiec", "sierpień", "wrzesień", "październik", "listopad", "grudzień"],
				weekdays: ["niedziela","poniedziałek", "wtorek", "środa", "czwartek", "piątek", "sobota"],
				weekdaysShort: ["niedziela","poniedziałek", "wtorek", "środa", "czwartek", "piątek", "sobota"],
				weekdaysAbbrev: ["N","Pn", "Wt", "Śr", "Cz", "Pt", "S"],
				cancel:'Anuluj',
				done:'Gotowe'
			}
		});
		
		$('.timepicker').timepicker({
			defaultTime: 'now',
			twelveHour: false,
			i18n: {
				cancel:'Anuluj',
				done:'Gotowe'
			}
		});
	});
	
	document.addEventListener('DOMContentLoaded', function() {
		var elems = document.querySelectorAll('.collapsible');
		var instances = M.Collapsible.init(elems, {});
	});
</script>

{% endblock %}
