{% extends "./base.html" %}

{% block content %}

<section class="center">
	<h2>{{ election.name }}</h2>
</section>

<section>
	<h4>Lista kandydatów</h4>
	(Wybierz kandydata/ów i wypełnij formularz swoimi danymi.)
	
	
	<form action="{% url 'vote' election.id %}" method="post">
		{% csrf_token %}
	
		{% for c in candidates.all %}
		<p>
			<label>
				{% if e.max_votes_from_one == 1 %}
				<input class="with-gap" name="candidate" type="radio" value="{{ c.pk }}" />
				{% else %}
				<input name="candidate" type="checkbox" value="{{ c.pk }}" />
				{% endif %}
				
				<span>{{ c.firstname }} {{ c.lastname }}</span>
			</label>
		</p>
		{% endfor %}
		
		<br /><br />
		
		<div class="input-field">
			<input id="firstname" type="text" name="firstname" class="validate" required />
			<label for="firstname">Imię</label>
		</div>
		
		<div class="input-field">
			<input id="lastname" type="text" name="lastname" class="validate" required />
			<label for="lastname">Nazwisko</label>
		</div>
		
		<div class="input-field">
			<input id="pesel" type="text" name="pesel" class="validate" required />
			<label for="pesel">PESEL</label>
		</div>
	
		<button class="btn waves-effect waves-light btn-large" type="submit" name="submit" value="1">Oddaj głos
			<i class="material-icons right">send</i>
		</button>
	</form>
	
</section>

{% endblock %}

{% block javascripts %}
{{ block.super }}

<script type="text/javascript">
	document.addEventListener('DOMContentLoaded', function() {
		var elems = document.querySelectorAll('.collapsible');
		var instances = M.Collapsible.init(elems, {});
	});
</script>

{% endblock %}
